/*
What is important to know when linking an external file (like a stylesheet) to an HTML file?

It is very important that you get the href right. It might seem obvious, but by making sure your setup is correct, you can be sure any erros or issues will be CSS related and not setup.

What tricks did you use to help you with positioning? How hard was it to get the site as you wanted it?



What CSS did you use to modify the element style (like size, color, etc.)



Did you modify the HTML to include classes or ids? If so, which did you choose and why? If you didn't, how would you know which one to add to your HTML?



When you compared your site to the actual code base, which do you think had cleaner code that followed best practices and why?*/
html { 
    color: #000080;
    background-color: #ffffff 
}
a {
    color: #800080;
}
a:visited{
    color: #ff0000;
}
main{
    height: 400px;
}
#leftnav{
    float: left; 
    width: 50%;
}
#rightnav{
    float: right; 
    width: 50%;
}
.normal{
    font-size: .5em;
}
header{
    font-weight: bold;
    text-align: center;
    line-break: auto;
}
.big
 {
     font-size: 2em;
 }
.small{
    font-size: .75em;
}
.line{
    display: block;
}
.center{
    text-align: center;
}
#commercial{
    text-align: center;
}
#geico{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.h_line{
    margin-top: 1em;
    margin-bottom: 1em;
    height: 1px;
    background: #cccccc;
}
.bold{
    font-weight: bold;
}
li{
    padding-bottom: 25px;
}